<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="global" type="StaticService.Configuration.GlobalSection, StaticService, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <global url="http://localhost:3838/" 
          serviceName="StaticService" 
          displayName="StaticService" 
          description="StaticService" 
          root="..\..\wwwroot\" 
          cultureResources="index.html" />
</configuration>